# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
.venv/
venv/
env/

# Testing
.pytest_cache/
tests/results.xml
htmlcov/
.coverage
coverage.xml

# Docker
*.tar

# SQLite
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
